<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite guice-stage="DEVELOPMENT" name="Smoke_Testing">
<parameter name="test_param" value="This is param value in testng.xml file"></parameter>
  <test thread-count="5" verbose="2" name="Sprint1">
    <classes>
      <class name="com.TestNGAnnotatiosns.Annotation2"/>
      <class name="com.TestNGAnnotatiosns.Annotation1"/>
      <class name="com.TestNGAnnotatiosns.Parametarization"/>
    </classes>
  </test> 
</suite> 
        